/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2026, 2:51:01 PM
    Author     : admin
*/
.Container {
    -fx-background-color: #121212;
    -fx-alignment: CENTER;
    -fx-spacing: 25;
}

.Subject {
    -fx-font-size: 30;
    -fx-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-stroke-width: 2;
    -fx-stroke: gold;
    -fx-font-family: Verdana;
}

.Button {
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-pref-width: 250;
    -fx-padding: 8;
    -fx-font-family: Verdana;
}
